<div class="link-wrapper-mobile">
  <a href="https://open.spotify.com/artist/5O4l4URYQ4EqEWrbNpVXiS" rel="author">[Spotify]</a>
  <span style="margin-left: 5px;"></span>
  <a href="https://www.youtube.com/@ChromaticMisfit" rel="external">[Youtube]</a>
  <span style="margin-left: 5px;"></span>
  <a href="https://soundcloud.com/chromatic-misfit">[Soundcloud]</a>
  <span style="margin-left: 5px;"></span>
  <a href="https://www.tiktok.com/@chromaticmisfit">[Tiktok]</a>
  <span style="margin-left: 5px;"></span>
  <a href="https://chromaticmisfit.bandcamp.com/">[Bandcamp]</a>
  <span style="margin-left: 5px;"></span>
</div>